<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
    <%= room.name %>
  </div>
  <div class="col col col-sm-1 col-md-1 col-lg-1 hour-col">0</div>
  <div class="col meeting-col" data-meeting-hour='0'></div>
</div>

<% (1..24).each_with_index do |c| %>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4"></div>
    <div class="col col-sm-1 col-md-1 col-lg-1 hour-col">
      <%= c %>
    </div>
    <div class="col meeting-col" data-meeting-hour='<%= c %>'>
    </div>
  </div>
<% end %>
